body {
    background-color: lightslategray;
}

header {
    background-color: black;
    color: aliceblue;
    height: 4rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.content {
    display: flex;
    margin-top: 3%;
}

input {
    flex: 4;
}

button {
    flex: 1;
    margin-left: 5%;
    background-color: orange
}

#todo-input{
    height:2rem;
}